*.csv
*.CSV
*.zip
*.json
*.png
*.txt
*.arw
*.svg
*.ipynb
*.xlsx
*.html
*.Result
*.UFol
*.Method
*.MethodQueue
*.pyc
*.DoE
Archives/
data_dump/
imgs/
inspect_plots/
outputs/
SEC Data/
pycorn-bin_1.py
flow_try.py

Peak_experiment copy.ipynb
Peak_experiment.ipynb
