*.csv
*.CSV
*.zip
*.png
*.txt
*.arw
*.svg
*.ipynb
*.xlsx
*.html
*.Result
*.UFol
*.Method
*.MethodQueue
*.pyc
*.DoE
Archives/
data_dump/
imgs/
inspect_plots/
outputs/
SEC Data/

Peak_experiment copy.ipynb
Peak_experiment.ipynb
